<div class="row">
  <div class="span9">Card images card images</div>
  <div class="span3">Player</div>
  	<div class="row">
  		<div class="span6"></div>
  		<div class="span6"></div>
  	</div>
</div>

